.banner-final {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 2.5rem 1rem;
  font-family: var(--font-primary);
}

.banner-final h2 {
  font-weight: 200;
  color: var(--font-primary);
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .banner-final h2 {
    font-size: 1.4rem;
  }
}
