.dresscode {
  background-color: #f0f0ea; /* Podés crear una variable si querés cambiar este fondo */
  text-align: center;
  padding: 3rem 1rem;
  font-family: var(--font-primary);
}

.dresscode-icon {
  color: var(--primary-color);
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.dresscode-title {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  font-family: var(--font-secondary);
}

.dresscode-subtitle {
  font-style: italic;
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
  font-family: var(--font-secondary);
}

.dresscode-btn {
  padding: 0.5rem 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.dresscode-btn:hover {
  opacity: 0.9;
}

.dresscode-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dresscode-modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: var(--radius);
  text-align: center;
  max-width: 90%;
  color: var(--text-color);
  box-shadow: var(--shadow);
  font-family: var(--font-secondary);
}

.dresscode-close {
  margin-top: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
}

.dresscode-close:hover {
  opacity: 0.9;
}
