.frase {
  background-color: #cfa9be;
  padding: 3rem 1rem;
  text-align: center;
  color: white;
}

.frase-texto {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  margin: 1rem 0;
  /* font-family: "Georgia", serif; */
}

.frase-linea {
  width: 80%;
  height: 1px;
  background-color: white;
  margin: 0 auto;
}
