.hashtag-section {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #fdfdfb; /* Podés crear variable si querés */
  max-width: 600px;
  margin: 0 auto;
  font-family: var(--font-primary);
}

.hashtag-icon {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.hashtag-section h2 {
  /* font-size: 1.5rem; */
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.hashtag-section p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #444; /* Podrías pasarlo a variable si necesitas */
}

.hashtag-text {
  font-size: 1.2rem;
  color: var(--primary-color);
}
