.playlist-section {
  padding: 3rem 1.5rem;
  text-align: center;
  background-color: var(
    --background-light
  ); /* Usamos variable para fondo claro */
  font-family: var(--font-primary);
}

.playlist-section h2 {
  /* font-size: 1.8rem; */
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.playlist-subtitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: var(--text-muted);
}

.playlist-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color); /* Color principal para detalles */
  color: #fff;
  border-radius: 30px;
  /* font-weight: bold; */
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
}

.playlist-button:hover {
  background-color: var(--primary-color-hover);
}
